button{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem 1.5rem;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 3rem;  
    box-shadow: 0px 0px 10p #26131328;
    transition: all 0.4s;
}

button:hover{
     box-shadow: 0px 0px 10px  #00000043;
} 